[buildout]
parts = spacebot
extends = versions.cfg
versions = versions

allow-picked-versions = true
show-picked-versions = true
newest = false

[spacebot]
recipe = zc.recipe.egg
eggs =
    jabberbot
