[buildout]
parts = spacebot
extends = versions.cfg
versions = versions

allow-picked-versions = false
show-picked-versions = true
newest = false

[spacebot]
recipe = zc.recipe.egg
eggs =
    jabberbot
    xmpppy
    pyzmq
extra-paths = ${buildout:directory}/src
interpreter = py
entry-points = spacebot=spacebot:run
